{% extends "blog/base.html" %}
{% block content %}
    <h1>About Page</h1><br><br>
    <h4>Zuri Task</h4>
    <p>From your knowledge of Python and Django. Extend the blog we built with the following functionalities:</p>
    <ul>
    	<li>A register page (a new user can register, their details stored in a database file).</li>
    	<li>login (checks in the file and logs them in if they are already registered)</li>
    	<li>reset password</li>
    	<li>logout</li>
    	<li>A comment section, you must be logged in to comment</li>
    	<li>Host the project on heroku</li>
    </ul>
{% endblock content %}
